<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css">
    <link rel="stylesheet" href="/css/buttonInfoViewer.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <p class="invisible">
            <%= btn.code %>
        </p>
        <iframe src="" frameborder="0"></iframe>
        <div class="info">
            <div class="block1">
                <h3 id="name">
                    <%= btn.name %>
                </h3>
                <p id="username">
                    <%= btn.user.username %>
                        <img id="profilePic" src="<%= btn.user.profilePicture %> " alt="">
                </p>

            </div>
            <div class="middle">
                <div class="rating">
                    <p id="rating">Rating</p>
                    <h2>
                        <%= btn.rating%>
                    </h2>
                </div>
                <div class="difficulty">
                    <p id="difficulty">Difficulty</p>
                    <h2>
                        <%= btn.difficulty%>
                    </h2>
                </div>
            </div>
            <div class="end">
                <a href="http://localhost:3000/buttons/<%= btn.name %>/code ">View code</a>
                <img src="/assets/right-arrows.png" id="nextArrow" alt="">
            </div>
        </div>
        <script src="/javascript/buttonInfoViewer.js"></script>
</body>

</html>