<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css">
    <link rel="stylesheet" type="text/css" href="/css/specificUser.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container">
            <% for(let code of codes){ %>
                <p class="invisible">
                    <%= code %>
                </p>
                <% } %>
                    <img id="profilePicture" src="<%= usr.profilePicture %> " alt="">
                    <div class="moreFlex">
                        <div class="oneFlex">
                            <h3 class="h3">
                                Joined 07/18/2022
                            </h3>
                            <h2 class="name">
                                <%= usr.name %>
                            </h2>
                            <h3 class="h3">
                                <%=`${usr.followerCount.toLocaleString("en-US")} Followers`%>
                            </h3>
                        </div>
                        <div class="moreInfo">
                            <h4 class="h4">
                                <%= `@${usr.username}` %>
                            </h4>
                            <div class="icons">
                                <img class="icon" src="/assets/icons8-mail-100.png" alt="">
                                <img class="icon" src="/assets/icons8-link-90.png" alt="">
                                <img class="bigIcon" src="/assets/icons8-github-480.png" alt="">
                                <img class="bigIcon" src="/assets/icons8-twitter-480.png" alt="">
                            </div>
                            <p class="bio">
                                <%= usr.bio %>
                            </p>
                        </div>
                        <div class="cardContainer">
                            <%- include('partials/buttonCard') %>
                        </div>
                    </div>
                    <script src="/javascript/specificUser.js"></script>
</body>

</html>